/*フォントを変更(Noto-Sans)*/
.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*文字とかサイズをヤる*/
body{
 font-size: 5.5em;
}
